<div class="page-header">
  <h1>Request Workflow</h1>
</div>

<div class="statuses">
  <% @statuses.each do |status| %>
    <div class="row status" data-id="<%=status['id']%>">
      <div class="col-md-4 name">
        <%= render partial: 'label', locals: { status: status } %>
      </div>
      <div class="col-md-3 color">
        <div class="input-group">
          <span class="input-group-addon">Color</span>
          <input type="text" class="form-control color" placeholder="">
        </div>
      </div>
      <div class="col-md-3 order">
        Order
      </div>
    </div>
  <% end %>
</div>
