<div class="user">
	<span class="user-initials">
		<strong><%= "#{user['first_name'][0]}#{user['last_name'][0]}" %></strong>
	</span>
</div>
<div>
	<span class="user-name">
		<strong><%= "#{user['first_name']} #{user['last_name']}" %></strong>
	</span>
</div>