<div class="user-item-label">
	<%= render partial: 'users/initials', locals: { user: user } %>
</div>
<div>
	<span class="user-name">
		<strong><%= "#{user['first_name']} #{user['last_name']}" %></strong>
	</span>
</div>
