<% if can? :create, User %>
	<%= link_to "Add User", new_user_path, id: 'add-user' %>
<% end %>

<h1>JoyPact Users</h1>

<table id="users-table">
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= link_to user["first_name"], user_path(user["id"]) %></td>
				<td><%= user["last_name"] %></td>
				<td><%= user["email"] %></td>
			</tr>
		<% end %>
	</tbody>
</table>