<div class="page-header">
	<h1>Publishing Portal</h1>
</div>

<div class="row">
	<% unless signed_in? %>
		<div class="col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
			<%= render partial: 'sessions/new' %>
		</div>
	<% else %>
		<h2 id="welcome-header" class="col-md-4 col-xs-8"> Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>

		
	<% end %>
</div>