<div id="attachment-modal" class="modal">
    <span class="close glyphicon glyphicon-remove"></span>
    <img class="modal-content">
    <div id="caption">
        <h2 id="name"></h2>
        <p id="details"></p>
        <p id="options">
            <a class="attachment-thumb-options-item" target="_blank" download>
                <span class="glyphicon glyphicon-download-alt attachment-thumb-options-icon"></span>
                <span class="attachment-thumb-options-text">Download</span>
            </a>
        </p>
    </div>

</div>