// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.comment {
	padding: 9px 0 9px 38px;
	border-bottom: 1px $gray-lighter solid;
}

.edit-comment-form .edit-comment {
	width: 100%;
}

.attachment-btn {
	padding: 10px;
	border-radius: 3px;
	&:hover {
		background-color: $gray-lighter;
	}
}

// .comment-footer {
// 	position: relative;
// }

.progress {

    margin-top: 10px;
}
