// Place all the styles related to the PublicationRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workflow {
	margin-bottom: 20px;
}

.current-status {
	font-size: 20px;
}

#chosen-template {
	text-align: center;
}

.request-thumb {
	margin: 10px;
	background-color: #F7F7F9;
	text-align: center;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 5px;
	a {
		display: inline-block;
		position: relative;
		height: 100%;
		width: 100%;
	}
}

.request-cell:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 8px 8px rgba(0,0,0,0.2);
	z-index: 999;
}
