// Place all the styles related to the PublicationRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chosen-template {
	text-align: center;
}

.request-thumb {
	// display: inline-block;
	background-color: #F7F7F9;
	text-align: center;
}

.request-cell:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 8px 8px rgba(0,0,0,0.4);
	z-index: 999;
}