// Place all the styles related to the Templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.template-cell {
	// background-color: lightgrey;
	// padding:5px;
	display: inline-block;
	margin: 10px;
	img:hover, div:hover {
		position: relative;
		transform: scale(1.1);
		box-shadow: 2px 2px 8px 8px rgba(0,0,0,0.4);
		z-index: 999;
	}
}

.template-delete {
	position: relative;
	top: 9px; // move link down to line up with editable elements
	.glyphicon {
		margin-right: 3px;
	}
}

.no-template {
	font-size: 30px;
	color: black;
	width: 230px;
	padding: 107px 0px !important;
	text-align: center;
}
