// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.user-info {
  font-size: 18px;
  small {
    font-size: 12px;
    color: $gray-light;
  }
}

.user-item-label {
	left: 15px;
	height: 30px;
	width: 30px;
	position: absolute;
	background-color: $brand-primary;
	color: white;
	border-radius: 3px;
}

.user-label {
  height: 30px;
	width: 30px;
  background-color: $brand-primary;
	color: white;
	border-radius: 3px;
  display: inline-block;
}

.user-initials {
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
}
